<div class="side-bar-header">
  <div class="header-name">
    <% if user_signed_in? %>
      <%= link_to "#{current_user.nickname}のフォルダ" %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="create-room" id="create-folder">
      <p>新規フォルダー</p>
    </div>
  <% end %>
  <%= form_with model: @folder, class: "hidden", id: "form" do |f| %>
    <%= f.text_area :title, class: "form-title", id: "title", placeholder:"フォルダー名" %>
    <%= f.submit '作成', class: "form-submit", id: "submit" %>
  <% end %>
</div>
<div class="rooms">
  <%# <% current_user.folders.each do |folder| %>
    <%# <div class="room"> %>
      <%# <div class="room-name"> %>
        <%# <%= link_to folder.title %> %>
      <%# </div> %>
    <%# </div> %>
  <%# <% end %> %> %>
</div>