<%= render "shared/header" %>

<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'shared/side-bar' %>
  </div>

  <div class="memo-box">
    <%= link_to edit_folder_memo_path(@memo.id) do %>
    <h2 class="memoTitle">
      <%= @memo.title %>
    </h2>
    <div class="memoText">
      <span><%= @memo.text %></span>
    </div>
    <% end %>
</div>
